.users {
  margin: 10vh auto;
  min-width: 60%;
}

mat-card-title {
  text-align: center;
}

mat-drawer{
  width: 20vw;
  min-width: 300px;
}

mat-drawer-container{
  height: 90vh;
}

mat-card-content{
  overflow: auto;
}
