<button mat-raised-button (click)="excel()">Download Excel</button>

<div class="tablewrapper">
  <mat-table #table [dataSource]="dataSourceValues" matSort>

    <ng-container *ngFor="let field of fieldnames; let i = index" [matColumnDef]="field">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{fields[i]}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="!checkbool(element[field])">{{element[field]}}</span>
        <mat-slide-toggle
          #slider *ngIf="checkbool(element[field])" [checked]="element[field]"
          (change)="syncIt(element,field,slider.checked)">
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sno">
      <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
      <mat-cell *matCellDef="let i = index"> {{paginator.pageSize * paginator.pageIndex + i+1}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['sno'].concat(fieldnames)"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['sno'].concat(fieldnames);"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #paginator></mat-paginator>
</div>
