.users {
  margin: 10vh auto;
  min-width: 500px;
  width: 60%;
}

mat-card-title {
  text-align: center;
}

span[fxFlex] {
  margin-bottom: 15px;
  margin-top: 15px;
}

.chip {
  background-color: #eeeeee;
  border-radius: 40px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0 10px;
  text-align: center;
}

.chip2 {
  background-color: #eeeeee;
  border-radius: 40px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0 0;
  text-align: center;
}

mat-drawer{
  width: 20vw;
  min-width: 300px;
}

mat-drawer-container{
  min-height: 90vh;
}
