.field{
  width: 10vw;
  overflow: auto;
}

.wrapper:nth-child(odd){
  background-color: #eee;
}

.wrapper, .heading{
  padding: 3vh;
}

button{
  background-color: #eee;
  color: black;
}

.field:nth-child(odd) button{
  background-color: green;
}

.head{
  text-transform: uppercase;
}

.links{
  width: 7vw;
}
.heading{
  background-color: #ccc;
}
