<mat-slide-toggle (change)="DisableRegistration(slider.checked)" #slider [checked]="isDisabled|async"
                  class="secondary-danger-text">
  <b>Disable further Registration/Signup</b>
</mat-slide-toggle>
<div class="tablewrapper">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let field of fieldheaders; let i=index" [matColumnDef]="field">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{field}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span>{{element[fieldnames[i]]}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Password">
      <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="changePassword(element.username)"> Reset </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Sno">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let i = index"> {{paginator.pageSize * paginator.pageIndex + i+1}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayOrder"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayOrder"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #paginator></mat-paginator>
</div>
